	<hr>
	<div class="jumbotron">
		<h1>Cos real badasses track their progress!</h1>
       	<p class="lead">Track your bodys progress over various workouts. The best tool for finding plateaus in your training. Record your day to day workouts, view graphs and analytics that will provide you with an overview of your bodies performance. </p>
        <a class="btn btn-large btn-success" href="/register">I want to be a badass!</a>
   	</div>
	<hr>
	<div class="row-fluid marketing">
		<div class="span6">
        	<h4>Subheading</h4>
        	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

   		   	<h4>Subheading</h4>
          	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

			<h4>Subheading</h4>
			<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="span6">
          	<h4>Subheading</h4>
          	<p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          	<h4>Subheading</h4>
          	<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          	<h4>Subheading</h4>
          	<p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
		</div>
	</div>
	<hr>
