	<hr>
	<div class="jumbotron">
		<h1>Wanna join the club?</h1>
       	<p class="lead">Well, come on then! Fill up your information so that we can get you all setup. Yeah dont worry, all your info is safe with us! </p>
   	</div>
	<hr>
	<div class="row-fluid marketing">
		<div class="span12">
        	<form action="/signup" method="post">
				<div>
					<label>Email: </label>
					<input type="text" name="email" /> <br/>
				</div>
				<div>
					<label>First Name: </label>
					<input type="text" name="firstname" /> <br/>
				</div>
				<div>
					<label>Last Name: </label>
					<input type="text" name="lastname" /> <br/>
				</div>
				<div>
					<label>Height: </label>
					<input type="text" name="height" /> <br/>
				</div>
				<div>
					<label>Weight: </label>
					<input type="text" name="weight" /> <br/>
				</div>
				<div>
					<label>Username: </label>
					<input type="text" name="username" /> <br/>
				</div>
				<div>
					<label>Password: </label>
					<input type="password" name="password" /> <br/>
				</div>
				<div>
					<label>Confirm Password: </label>
					<input type="password" name="confirmPassword" /> <br/>
				</div>
				<div>
					<input type="submit" name="Next Step" /> <br/>
				</div>
			</form>
		</div>
   	</div>
	<hr>
