	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<h1>Wanna join the club?</h1>
		       	<p class="lead">Well, come on then! Fill up your information so that we can get you all setup. Yeah dont worry, all your info is safe with us! </p>
		   	</div>
			<hr/>
	    	<form action="/signup" method="post">
	    		<div class="row">
					<label>Username: </label>
					<input type="text" name="username" />

					<label>Password: </label>
					<input type="password" name="password" />

					<label>Confirm Password: </label>
					<input type="password" name="confirmPassword" />
	    			<div class="six columns">
		    			<label>Email</label>
		    			<input type="text" name="email" />

		    			<label>First Name: </label>
						<input type="text" name="firstname"/>

						<label>Last Name: </label>
						<input type="text" name="lastname" />

						<label>Twitter</label>
				        <div class="row collapse">
				          	<div class="two mobile-one columns">
				            	<span class="prefix">@</span>
				          	</div>
				          	<div class="ten mobile-three columns">
				            	<input type="text" name="twitter_id" placeholder="twitter_username">
				          	</div>
				        </div>
				    </div>
				    <div class="six columns">
				    	<label>Height: </label>
				    	<div class= "row">
					    	<div class="five columns">
								<input type="text" placeholder="Feet" class="input" name="height_feet" />
							</div>
							<div class="five columns">
								<input type="text" placeholder="Inches" class="input" name="height_inches" />
							</div>
						</div>
						<label>Weight: </label>
						<input type="text" name="weight" placeholder="In pounds(lbs)"/>
				    </div>
	    		</div>
				<div style="text-align:center;">
					<input type="button" id="sign_up" class="button" value="Sign Up" />
				</div>
			</form>
		</div>
	</div>
	<script>
		$("input.sign_up").click(function() {
			var firstname = $("input[name=firstname").val();
			var lastname = $("input[name=lastname").val();
			var twitter_id = $("input[name=twitter_id").val();
			var email = $("input[name=email").val();
			var username = $("input[name=username").val();
			var height_feet = $("input[name=height_feet").val();
			var height_inches = $("input[name=height_inches").val();
			var weight = $("input[name=weight").val();
			var password = $("input[name=password").val();
			var confirmPassword = $("input[name=confirmPassword").val();

			if(!ValidateText(firstname)) {
				
			}
		});

		function ValidateText(text) {
			if(isNaN(text) && text.length > 0) {
				return true;
			}
		}

		function ValidateNumbers(number) {
			if(!isNaN(number) && number.length > 0) {
				return true;
			}
		}
	</script>