	<div class="row">
		<div class="twelve columns">
			<div class="row">
				<h1>Account Creation Success!</h1>
				<p class="lead">Congrats! Your account was successfully created. Now go on then, look around and get comfy with the settings. Dont forget to log your workouts! </p>
			</div>
		</div>
	</div>
